
.projects-container {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px auto;
}

.projects-heading {
  text-align: center;
  
  color: #333;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 500;
}

.projects-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.project-item {
  margin-bottom: 15px;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  color: #333; 
}

.project-item:hover {
  background-color: #7843E9; 
  color: #fff; 
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-item a {
  text-decoration: none;
  color: inherit; 
  font-weight: 500;
}

.project-item a:hover {
  color: #fff; 
}

.project-item p {
  color: inherit; 
  margin-top: 5px;
}

.error-message, .no-projects-message {
  text-align: center;
  color: #d9534f;
  font-size: 1rem;
}
